.create-spot-container {
  width: 60%;
  margin: auto;
}

.create-spot-form-title-block {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
}

.form-modal-block textarea {
  border: none;
  outline: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}
